{% extends 'base.html.twig' %}

{% block title %}Casino Games{% endblock %}

{% block body %}

<div class="main-container">
    <h1>Casino Games</h1>
    <div class="casino-header-components">
        {% include 'components/gamesSlider.html.twig' with {'title': 'Popular games', 'sliderPerView': 5, 'popularGames': popularGames} %}
    </div>

    {% include 'components/gamesNavigation.html.twig' with {
        'items': ['Explore games', 'Casino games', 'Favorite games'],
        'navId': 'games-nav'
    } %}

    <div class="csaino-games-content tab-content">
        <div id="explore-games-content" class="content-section">
            {% include 'components/casino/gamesExplorer.html.twig' with {'categories': categories, 'providers': providers, 'games': games} %}
        </div>
        <div id="casino-games-content" class="content-section" style="display:none">
            {% include 'components/casino/casinoGames.html.twig' with {'games': gamesByCategory} %}
        </div>
        <div id="favorite-games-content" class="content-section" style="display:none">
            Favorites
        </div>
    </div>
</div>
{% endblock %}
