{% extends 'base.html.twig' %}

{% block title %}Casino Games{% endblock %}

{% block body %}

<div class="main-container">
    <h1>Casino Games</h1>
    <div class="casino-header-components">
        {% include 'components/gamesSlider.html.twig' with {'title': 'Popular games', 'sliderPerView': 5, 'popularGames': popularGames} %}
    </div>

   {% include 'components/tabsComponent.html.twig' with {
        'tabs': [
            {
                'name': 'Explore games',
                'template': 'components/casino/gamesExplorer.html.twig',
                'props': {'categories': categories, 'providers': providers, 'games': games}
            },
            {
                'name': 'Casino games',
                'template': 'components/casino/casinoGames.html.twig',
                'props': {'games': gamesByCategory}
            },
            {
            'name': 'Favorite games',
            'template': 'components/casino/favoriteGames.html.twig',
            }
        ],
        'activeTabIndex': 1
        } 
    %}

</div>
    {% block javascripts %}
        {{ parent() }}
        <script type="module" src="{{ asset('assets/js/casinoGames.js') }}"></script>
    {% endblock %}
{% endblock %}
