{% extends 'base.html.twig' %}

{% block title %}CASINO EXPLORER{% endblock %}

{% block body %}
<div class="home-page">
    <a class="explore-button" href="{{ path('casino_games') }}">Explore Our Games</a>
<div>
{% endblock %}
