<a href="{{ path('play_casino_game', {'id': game.id}) }}" class="game-card">
    <div class="game-wrapper">
        <div class="game-image">
            <img class="lazyload" 
             data-src="{{ game.icon2 }}" 
             alt="{{ game.name }}"
        >
        </div>
    </div>
</a>
