<div class="game-explorer">
    <h2>Games List</h2>
    <div>FILTERS</div>
    <div class="games-list">
        {% if games|length > 0 %}
            {% for game in games %}
                {% include 'components/GamesCard.html.twig' with {'game': game} %}
            {% endfor %}
        {% else %}
            <p>There are no available ghames at the momemnt</p>
        {% endif %}
    </div>
</div>
