<div class="games-navigation" id="{{ navId }}">
    {% for item in items %}
        <div class="nav-item" data-nav-item="{{ item }}">
            <a href="#">{{ item }}</a>
        </div>
    {% endfor %}
</div>
