<div class="slider">
    <h3 class="slider-title">{{ title }}</h3>
    
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for popularGame in popularGames %}
                <div class="swiper-slide">
                    {% include 'components/gamesCard.html.twig' with {'game': popularGame} %}
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sliderPerView = {{ sliderPerView }}; 

    const mySwiper = new Swiper('.mySwiper', {
      slidesPerView: sliderPerView,
      spaceBetween: 20,
      loop: true,
      lazy: true,
      lazy: {
        loadPrevNext: true, 
      },
      pagination: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    
  });
</script>
